@media (max-width: 768px) {
    #body {
        right: 0%;
        transition: 0.3s;
    }

    #body.active {
        right: 30%;
    }
    
    .show.active {
        left: 70%;
    }

    .show {
        background: #ffffff;
        z-index: 1000;
        position: fixed;
        display: inline;
        right: 0;
        top: 0;
        bottom: 0;
        left: 100%;
        padding-top: 50px;
        padding-left: 50px;
        transition: 0.3s;
    }

    .show img {
        width: 120px;
        display: flex;
    }

    .show-a {
        display: grid;
        line-height: 30px;
        margin-top: 30px;
    }

    .show-a a {
        color: #555;
    }

    .show-a i {
        padding-right: 20px;
    }

    .menu {
        display: none;
    }

    .btn-menu {
        display: block;
        text-align: center;
    }



    .col-md-6 {
        padding: 20px;
    }

    .sponsors img {
        width: auto;
        height: auto;
        display: -webkit-box;
    }
 }
